.btn {
  height: 75px;
  width: 75px;
  background: linear-gradient(
    #f00202 0%,
    #bd0404 10%,
    #7d0404 50%,
    #4a0202 100%
  );
  border-radius: 50%;
}

.clickedNumber {
  color: white;
  size: large;
}
